.burger-wrapper {
width: 60%;
position: relative;
display: grid;
margin-top: 10%;
}

.burger {
width: 40%;
margin: 0 auto;

}

.top {
/*border: 2px solid black;*/
z-index: 7;
transition-duration: 1s;
}

.burger-wrapper:hover .top {
margin-top: -7%;
margin-bottom: 5%;
}

.tomato {
margin-top: -5%;
z-index: 6;
transition: ease 0.5s;
}

.burger-wrapper:hover .tomato {
margin-bottom: 3%;
}

.cheese {
margin-top: -4%;
z-index: 5;
transition: ease 0.5s;
}

.burger-wrapper:hover .cheese {
margin-bottom: 3%;
}

.meat {
margin-top: -6%;
z-index: 4;
transition: ease 0.5s;
}

.burger-wrapper:hover .meat {
margin-bottom: 3%;
}

.ketchup {
margin-top: -9.2%;
margin-bottom: 2%;
z-index: 3;
transition: ease 0.5s;
}

.burger-wrapper:hover .ketchup {
margin-bottom: 3%;
}

.bottom {
margin-top: -8%;
z-index: 2;
transition: ease 0.5s;
}

.burger-wrapper:hover .bottom {
margin-bottom: 0%;
}

.writing {
width: 20%;
position: absolute;
  visibility: hidden;
  background-image: linear-gradient(to right, #fff, #3B3B3B, #3B3B3B);
  color:#000;
  text-align: center;
  font-size: 30px;
  color: #fff;
  line-height: 100px;
  padding-left:4%;
}

.top:hover + .writing{
margin-top: -4%;
margin-left: 80%;
  visibility: visible;
  display: block;
}

.detail-menu {
    border: 2px solid black;
    width: 20%;
    margin: 0 auto;
}

.detail-menu h2 {
    text-align: center;
}

.detail-menu ul {
    list-style: none;
    font-size: 20px;
    column-count: 2;
}

.detail-menu .peppers {
   columns: 1;
}

.detail-menu li {
    padding-bottom: 3%;
}